# Pandas puzzles

Most the following exercises have been selected by UZH ZI & David Pinezich as part of the ZI APPD course. Inspired by [100 Numpy exerises](https://github.com/rougier/numpy-100), here is a short list of puzzles for testing your knowledge of [pandas'](http://pandas.pydata.org/) power. 

Since pandas is a large library with many different specialist features and functions, these excercises focus mainly on the fundamentals of manipulating data (indexing, grouping, aggregating), making use of the core DataFrame and Series objects. 

Many of the excerises here are stright-forward in that the solutions require no more than a few lines of code (in pandas or NumPy). Choosing the right methods and following best practices is the underlying goal.

If you're just starting out with pandas and you are looking for some other resources, the official documentation  is very extensive. In particular, some good places get a broader overview of pandas are...

- [10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
- [pandas basics](http://pandas.pydata.org/pandas-docs/stable/basics.html)
- [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)
- [cookbook and idioms](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

Enjoy!

## Importing pandas

### Getting started and checking your pandas setup

**1.** Import pandas under the name `pd`, and numpy under its alias `np`.

**2.** Print the version of pandas that has been imported.

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

**3.** Load the data from `pd_puzzles.csv`. Assign the following list as indices: `['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']`.

**4.** Display the basic information about this DataFrame and its data.

**5.** Display the summary statistics about the data in the df.

**6.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

**7.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.
(**hint**: df.index)

**8.** Select only the rows where the number of visits is greater than 2.

**9.** Select the rows where the age is missing, i.e. is `NaN`.
(**hint**: isna)

**10.** Select the rows where the animal is a cat *and* the age is less than 3.

**11.** Change the age of the cat in row 'd' to 5.5. (**hint**: You can use both implicit or explicit indices)

**12.** Calculate the sum of all visits (the total number of visits).

**13.** Calculate the mean age for each different animal in `df`.

**14.** Append a new column 'newcol' to `df` with your choice of values for each column. Then delete that column to return the original DataFrame.

**15.** Append a new row to `df` for a 5 y.o. parrot on his second visit with no priority. Then delete that row again to return to the original DataFrame.

**16.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

**17.** In the 'animal' column, change the 'snake' entries to 'python'.

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

**19.** Create a copy of the animal column, delete all duplicated rows and add another column with the biological family (dogs = canidae, cats = felidae, python = pythonidea), then merge the copy with the original dataframe.

**20.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

**21.** Given a DataFrame of numeric values, say
```python
df2 = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

**22.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df2 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

**23.** How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)? What about unique entries in each columns?

Use the follwing dataframe:
```python
df_3 = pd.DataFrame({
    "A": [1, 1, 2, 2, 3, 3, 3],
    "B": [10, 10, 20, 20, 30, 31, 30],
    "C": ["x", "x", "y", "y", "z", "z", "z"]
})
```